name: Build APK

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-22.04
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup environment
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-pip openjdk-11-jdk zip unzip git
        
    - name: Install Buildozer
      run: pip install buildozer
        
    - name: Build APK
      run: |
        cd app
        buildozer -v android debug
        
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-apk
        path: app/bin/*.apk
